body {
	margin: 0;
	font-family: Helvetica;

}
h1{
	font-weight: 200;
}
#logo	{
	height: 20px;
	width: 20px;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 110vh

}